<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11; IE=10; IE=9; IE=8; IE=7; IE=EDGE; chrome=1" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title> 
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jquery.notice.css" rel="stylesheet" />
    <link href="~/Content/chosen.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-modal.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />  

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.draggable.js"></script>
    <script src="~/Scripts/knockout-2.2.1.debug.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap-modalmanager.js"></script>
    <script src="~/Scripts/bootstrap-modal.js"></script>
    <script src="~/Scripts/jquery.notice.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/chosen.jquery.js"></script>
    <script src="~/Scripts/Models.js"></script>
    <script src="~/Scripts/jquery.floatThead.js"></script>  
</head>
<body>
    <div id="LOD_modal" class="modal">
        <div class="modal-body">
            <h4>Please wait...</h4>
            <div style="width: 40%; margin: 0 auto;" class="progress progress-striped active">
                <div style="width:100%" id="BAR" class="bar"></div>
            </div>
            <div class="alert alert-danger hide" id="lbldesc"></div>
        </div>
    </div>
    <script>
        $("#LOD_modal").modal({ show: true, backdrop: 'static' });
    </script>
    
    <div class="navbar navbar-inverse navbar-fixed-top" style="background:#0088CC!important">
        <div class="navbar-inner navbar-form" style="background:#0088CC!important">
            <a class="brand">Moises Bas - Kiosk (Exam) </a>
            <div class="pull-right">
                <input id="txtsearch" type="text" class="input-large" placeholder="Search" />
                <a href="#" onclick="VM.KiosExam.load()" class="btn btn-info">
                    <i class="icon-search icon-black"></i>
                    Search
                </a>
            </div>
        </div>      
    </div>
  
    <div class="container-fluid">


        @RenderBody()


    </div>
   

    
    <script>
    VM.KiosExam = {
        isloading: ko.observable(false),
        items: ko.observableArray([]),
        item: {
            init: {},
            current: ko.observable({
                tags: ko.observableArray([]),
                owner: ko.observable(''),
                is_answered: false,
                view_count: 0,
                answer_count: 0,
                score: 0,
                last_activity_date: 0,
                creation_date: 0,
                question_id: 0,
                link: '',
                title: '',
                body: '',
                body_markdown: '',
                last_edit_date: null
            })
        }, load: function (step) {
            VM.KiosExam.items.removeAll();
            if (VM.KiosExam.isloading())
                return;
            VM.KiosExam.isloading(true);

            models_ajax("@Url.Content("~/home/getItems")",
                function (data) {
                    switch (data.status) {
                        case "OK":
                            VM.KiosExam.isloading(false);
                            var pageshow = "";
                            if (data.data != null) {
                                VM.KiosExam.items(data.data);

                            }
                            $("#LOD_modal").modal('hide');

                            break;
                        case "ERROR":
                            VM.KiosExam.isloading(false);
                            models_notify("ERROR", data.message);
                            break;
                    }
                }, {
                    search: $('#txtsearch').val(),
                    page: 8
                    //page: page == '' ? 1 : page + step,
                }

            )
        }

    }
    </script>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
